{% extends "layout.html" %}


{% block CSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/canal.css')}}">
{% endblock %}

{% block title %} {{ session.current_channel }} {% endblock %}

{% block content %}

<section>
  <div class="form-box">
      <div class="form-value">
        <div class="custom-1">
          <h1 style="margin-bottom: 10px">
            <span class="display-5">
              Canal:
              <span class="spann">{{ session.current_channel }}</span>
            </span>
          </h1>
        </div>
        <div class="custom-window">
          <div id="chat-box" class="list-group">
            <ul id="chat">
              {%- if messages -%}
        
              {%- for message in messages -%}
        
              <li class="messageBox">
                <strong class="user">{{message[1]}} </strong><small class="time">{{message[0]}}</small><br /><span
                  class="msg">{{ message [2] }}</span>
              </li>
              {%- endfor -%}
              <p class="message-info">
                {{ '--- Mensajes Anteriores --- ' }}{{- '\n' -}}
              </p>
              {%- endif -%}
            </ul>
          </div>
      
          <div id="message-box">
            <div class="form-border">
              <div class="form-row">
                <div class="form-group col-sm">
                  <div class="input-group">
                    <textarea id="comment" class="form-control" rows="1" autocomplete="off" required></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" style="margin-right: 4px">
            <button id="send-button" type="reset">
                Enviar
            </button>
            <button id="leave" type="button">
                Abandonar canal
            </button>
          </div>
        </div>
      </div>
  </div>
</section>



{% endblock %}