{% extends "layout.html" %} 

{% block CSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/siu.css')}}">
{% endblock%}

{% block title %} Crear Canal {% endblock %}

{% block content %}
<section>
  <div class="form-box">
      <div class="form-value">
        <div class="custom-1">
          <h2 style="margin-bottom: 10px">
            <span class="display-5">
              Crear un nuevo
              <span class="spann">Canal</span>
            </span>
          </h2>
        </div>
        <div class="custom-window">
          <form action="/create" method="post">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="channel"
                id="channel"
                autocomplete="off"
                placeholder="Nombre..."
                autofocus
                required
              />
            </div>
            <div class="crear">
              <button id="crear" type="submit">
                Crear Canal
              </button>
            </div>
        
          </form>
        </div>
      </div>
  </div>
</section>

<h1 style="display: none" id="channelsList">{{channels}}</h1>
{% endblock %}