{% extends "layout.html" %} 

{% block CSS %}

{% endblock%}

<!-- Title -->
{% block title %} Nuevo Canal {% endblock %}

<!-- Body -->
{% block content %}
<div class="custom-1">
  <h2 style="margin-bottom: 10px">
    <span class="display-5">
      Crear un nuevo
      <span class="spann">Canal</span>
    </span>
  </h2>
</div>
<div class="custom-window">
  <form action="/crear" method="post">
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        name="channel"
        id="channel"
        autocomplete="off"
        placeholder="Nombre..."
        autofocus
        required
      />
    </div>
    <!-- Boton crear -->
    <button id="crear" type="submit">
      <div class="svg-wrapper-1">
        <div class="svg-wrapper">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-plus-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"
            />
          </svg>
        </div>
        <span>Crear</span>
      </div>
    </button>
  </form>
</div>
<h1 style="display: none" id="channelsList">{{channels}}</h1>
{% endblock %}