{% extends "layout.html" %}


{% block CSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}


{% block title %} Bienvenido {% endblock %}

{% block content %}

    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="/signin" method="POST">
                    <h2>Bienvenido a FLACK</h2>
                    <div class="inputbox">
                        <ion-icon name="person-circle-outline"></ion-icon>
                        <input type="text" 
                        id="username"
                        name="username"
                        autocomplete="off"
                        required>
                        <label for="">Usuario</label>
                    </div>
                    <button type="submit">Bienvenido ONI-CHAN</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}