{% extends "layout.html" %}

<!-- CSS -->
{% block CSS %}
<link rel="stylesheet" href="">
{% endblock %}

<!-- Titulo -->
{% block title %} Bienvenido {% endblock %}

<!-- Body -->
{% block content %}
    <section>
        <div class="form-box">
            <div class="form-value">
                <h2>Bienvenido a DISCO</h2>
                <div class="inputbox">
                    <input type="text" 
                    class="form-control"
                    id="username"
                    autocomplete="off"
                    autofocus
                    aria-describedby="userHelp"
                    required>
                </div>
            </div>
        </div>
    </section>

{% endblock %}